<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
           <display-name>newsletter</display-name>
   <servlet>
  	<servlet-name>sendpayment</servlet-name>
  	<servlet-class>servlets.sendpayment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendEmail</servlet-name>
  	<servlet-class>servlets.SendEmail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubscribeAccount</servlet-name>
  	<servlet-class>servlets.SubscribeAccount</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListLetters</servlet-name>
  	<servlet-class>servlets.ListLetters</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewLetter</servlet-name>
  	<servlet-class>servlets.ViewLetter</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadPdf</servlet-name>
  	<servlet-class>servlets.UploadPdf</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>wwww</servlet-name>
  	<servlet-class>servlets.wwww</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>sendpayment</servlet-name>
  	<url-pattern>/sendpayment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendEmail</servlet-name>
  	<url-pattern>/SendEmail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubscribeAccount</servlet-name>
  	<url-pattern>/SubscribeAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListLetters</servlet-name>
  	<url-pattern>/ListLetters</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewLetter</servlet-name>
  	<url-pattern>/ViewLetter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadPdf</servlet-name>
  	<url-pattern>/UploadPdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>wwww</servlet-name>
  	<url-pattern>/wwww</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  	<welcome-file>Index.html</welcome-file>
  	<welcome-file>index.htm</welcome-file>
  	<welcome-file>Index.jsp</welcome-file>
  	<welcome-file>default.html</welcome-file>
  	<welcome-file>default.htm</welcome-file>
  	<welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>